.ddsq-header-bg {
  background-color: #540909;
  padding: 16px 0;
}

.ddsq-header {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ddsq-header p {
  max-width: 505px;
}

.ddsq-hero-bg {
  background: url("./img/bg-1.png") no-repeat 90% 40% / 400px,
    url("./img/bg-2.png") no-repeat 0% 70% / 400px;
  background-color: #ededed;
  padding-bottom: 40px;
}

.ddsq-hero img {
  padding-top: 32px;
  margin: 0 auto 32px auto;
}
.ddsq-hero h1 {
  text-align: center;
  max-width: 859px;
  margin: 0 auto;
}
.ddsq-hero h1 span {
  background: #540909;
}
.ddsq-hero p {
  text-align: center;
  margin: 12px auto 0px auto;
  max-width: 631px;
}

.ddsq-hero a {
  margin: 24px auto;
  display: block;
  max-width: 320px;
}

@media (max-width: 1280px) {
  .ddsq-hero-bg {
    background: url("./img/bg-1.png") no-repeat 95% 40% / 400px,
      url("./img/bg-2.png") no-repeat 0% 70% / 400px;
  }
}

@media (max-width: 1024px) {
  .ddsq-hero-bg {
    background: url("./img/bg-1.png") no-repeat 100% 50% /
        380px,
      url("./img/bg-2.png") no-repeat 0% 120% / 380px;
  }
}

@media (max-width: 450px) {
  .ddsq-hero-bg {
    background: url("./img/bg-1.png") no-repeat 130% 60% /
        260px,
      url("./img/bg-2.png") no-repeat 0% 120% / 380px;
  }
  .ddsq-hero h1 {
    font-size: 1.75rem;
  }
  .ddsq-hero p {
    background: rgba(237, 237, 237, 0.1);
  }
}

@media (max-width: 391px) {
  .ddsq-hero-bg {
    background: url("./img/bg-1.png") no-repeat 130% 60% /
        260px,
      url("./img/bg-2.png") no-repeat 0% 120% / 380px;
  }
  .ddsq-hero img {
    margin-top: 32px;
    margin-bottom: 24px;
  }
  .ddsq-hero h1 {
    font-size: 1.5rem;
  }
  .ddsq-hero p {
    font-size: 1rem;
  }
}
